body {
    background-color: #dfbf9f;
}
h1,h3{
    text-align: center;
    top: 50%;
}
nav{
    background-color: black;
}
.center{
    margin-top: 100px;
}
.page-footer{
     background-color:black;
}
